body{
    color:#ffff ;
    /* background:  linear-gradient(to bottom,#334557, rgb(45, 45, 82)) ; */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
.round-input{
    background-color: #3d4f61;
    border: #3d4f61;
    border-radius: 100px;

}
.text-input{
    background-color: #3d4f61;
    border: #3d4f61;
}
.custom-file-input{
    display: none;
    margin-top: -5px;
    padding: 0px 0px;
    height: 0px;
    width: 0px;
}
.file-label:hover{
    cursor: pointer;
}
.file-label{
    color: #8998a5;
    width: 100%;
    height: 35px;
    padding: 5px 11px 12px 10px;
    margin-bottom: 15px;
    text-align: left;
}
.background{
    margin-top: 100px;
    width: 100vw;
    /* max-height: 93vh; */
    overflow: clip;
 
    
}
.user{
    width: 50px; 
    height: 50px;
    margin-bottom: -42px;
    margin-left: -42px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: rgba(65, 59, 177, 0.541);
    border-color: azure;
}

.user p{
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: relative;
    

}
#home_imagen{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.user_home_imagen{
    margin-left: 5px;
}

.top .title{
    width: 100%;
}
.post_cart{
 
    margin-bottom: 40px;
    background-color: #334557;
    width: 120%;
}
.car_post{
    
    margin-top: 150px;
}

.carlogin{

    margin-top: 150px;
}
.car_registrar{
    margin-left: -85px ;
    width: 50vw;
    margin-top: 100px;
}
.card{
    
    background-color: #334557;
}
.title{
    box-shadow: 0 4px 6px -6px rgb(122, 157, 189);
    height: 50px;
}
.center .descripcion{
    
}

.ajuste_container{
    margin-top: 100px;
}


.descripcion{
    width: 47.2vw;
    height: 100px;
    overflow: auto;
    padding: 3px;
}
.user-sm{
    display: flex;
    flex-wrap: wrap;
}
.user_name{
    display: none;
    color: white;
    margin-left: 15px;
    text-shadow: rgb(13, 14, 54) 1px 1px 1px ;
}


#body_all{
    margin: auto;
    margin-top: 73px;
    padding-left: 42px;
    width: 100%;
}

.div_img img{
    margin-left: 15px;
    width: 47.2vw;
}


#img_profile{
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 90px;
    background-color: gray;
}
#img_profile input{
    width: 100%;
    height: 100%;
    visibility: hidden;
  

}


#add_img{
    width: 100px;
    margin-left: 21%;
    margin-top: -110%;
    
    z-index: 10000;
}

#profile_img{
    width: 100%;
    height: 100%;
    border-radius: 90px;

}

.home_user_image{
    width: 50px;
    height: 50px;
   
}
.comment{
    padding-top: 5px;
   display: flex;

}
.comentarios_div{
    margin-left: -18px;
    width: 108%;
 
}
.navbar-comment{
    display: flex;
    flex-wrap: wrap;
    padding: 3px 10px;
    width: 100%;
    border-top: rgba(122, 157, 189, 0.3) 1px solid;
    border-bottom: rgba(122, 157, 189, 0.3) 1px solid;;
}
.navbar-comment span{
    user-select: none;
    padding: 5px;
    margin: auto;
    background: linear-gradient(to right, #3d4f61, #4a5d70);
}
.navbar-comment span:hover{
    cursor: pointer;
}
.all_comments{
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    padding-top: 10px;
}
.submit{
    background-color: #243B55;
    border: #243B55 solid 1px;
    border-radius: 10px 10px 10px 10px;
}
.user-notas-comentarios{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px -6px rgb(122, 157, 189);
}
.notas-comentarios{

   padding: 5px 10px 0px 5px;
   background-color: #243B55;
   margin-bottom: 7px;
   border-radius: 10px;
   
   
}
.notas-comentarios span{
    font-weight: bold;
    text-transform: capitalize;
    
 }

.notas-comentarios #comentarios-div-img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: -3px;
}
.notas-comentarios #comentarios-div-img img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.notas-comentarios p{

    height: auto;
    width: 40vw;
    overflow-x: hidden;
}
.comment-container{
    display: flex;
    flex-wrap: wrap;
}
.notas-comentarios-descripcion{
    margin-left: 38px;
}

.row{
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
}
::-webkit-scrollbar {display: none;}



@media only screen and (max-width: 991px){
    #body_all{
        margin-top: 40px;
    }
    .user_home_imagen-sm{
        margin-right: 4px;
        display: block !important;
    }
    .form-inline{
        display: none;
    }
    .post_cart{
        margin-left: -50px !important;
    }
    .ajustes{
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 767px){
    .row{
        width: 73vw;
    }
    .post_cart{
        width: 100%;
    }
    .post_cart{
        margin-left: -30px !important;
    }
    .div_img img{
        width: 92% ;
    }
    #body_all{
       padding-left: 15px;
    }
    .car_registrar .card{
    
        margin-right: -95px !important;
    }
    .car_registrar{
        margin-left: 23px;
    }

}

@media only screen and (max-width: 740px){
    .car_registrar{
        
        margin-top: 140px;
        margin-left: 23px;
        margin-bottom: 10px;
        
    }
    .all_comments{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 640px){
    .form-inline{
        display: none;
    }
    #body_all{
        width: 100%;
        margin: auto !important;
        padding: 0px;
    }
    .carlogin, .car_registrar{
        
        margin-top: 140px;
        margin-left: 23px;
        margin-bottom: 10px;
        
    }
    .user{
        margin-left: -10px;
    }
    .card{
        margin: auto;
    }
    .user_home_imagen{
        display: none;
    }
    .show-comments{
        font-size: 10px;
    }

    .post_cart{
        padding: 25px !important;
        width: 88vw;
       
    }
    .center{
        margin: 0px 0px;
    }
    .card-body{
        width: 100%;
        margin: 0px 0px;
        padding: 1rem;
        
    }
    .row{
        margin: auto !important;
        margin-bottom: 20px !important;
 
    }
    .carlogin, .car_registrar{
        margin-left: 0px;
        width: 60%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .descripcion{
        padding: 0px;
        width: 100%;
     
    }
    .ml-n4, .mx-n4{
        margin: auto !important;
    }

    .top .title{
        height: 30px;
        padding-right: 0px !important ;
       
    }
    .top .text-center{
        /* margin-bottom: -15px; */
        margin-top: 15px;
        font-size: 18px;
        text-align: left !important;
        line-height: 12px !important;
    }
    .div_img img{
        width: 94% ;
    }
    .comentarios_div {
        margin-left: 0px;
        width: 100%;
    }
    .carlogin .card{
        margin: auto !important;
    }
    .car_registrar .card{
        margin: auto !important;
    }
    .carlogin{
        margin-left: 0px;
    }
}


@media only screen and (max-width: 580px){

    .ajustes{
       padding: 8px;
    }
    .carlogin, .car_registrar{
        width: 100% !important;
    }
    .container{
        padding: 5px !important;
    }
    .row{
        width: 100%;
    }
    .post_cart{
        width: 100%;
        padding: 10px !important;
    }

    .center .descripcion{
        font-size: 12px;
    }
}
@media only screen and (max-width: 360px){
    #body_all{
        margin-top: 8rem !important;
    }
    .div_img img{
        width: 88% ;
    }
}
@media only screen and (max-width: 240px){
    .user_home_imagen-sm{
        display: none !important;
    }
}